---
import LandingLayout from '../layouts/LandingLayout.astro';
---

<LandingLayout title="Welcome to Astro.">
	<main>
		<h1>Testing</h1>
	</main>
</LandingLayout>

<style>
	h1 {
		color: red;
	}
</style>
