---
import { Image } from "astro:assets";
import contact from "../img/contact.png";
---

<div class="fluid" id="order">
    <div class="container">
        <Image src={contact} alt="Let's work on your project" />
    </div>
    <!-- Calendly inline widget begin -->
    <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/yerbol-artlumia/30min"
        style="min-width:320px;height:700px;"
    >
    </div>
    <script
        type="text/javascript"
        src="https://assets.calendly.com/assets/external/widget.js"
        async></script>
    <!-- Calendly inline widget end -->

    <!-- Calendly badge widget begin -->
    <link
        href="https://assets.calendly.com/assets/external/widget.css"
        rel="stylesheet"
    />
    <script
        src="https://assets.calendly.com/assets/external/widget.js"
        type="text/javascript"
        async></script>
    <script class="Cwidget" type="text/javascript">
        window.onload = function () {
            Calendly.initBadgeWidget({
                url: "https://calendly.com/yerbol-artlumia/30min",
                text: "Schedule time with us",
                color: "#0069ff",
                textColor: "#ffffff",
                branding: true,
            });
        };
    </script>
    <!-- Calendly badge widget end -->
</div>

<style>
    .fluid {
        background-color: #000;
        padding-bottom: 50px;
    }
    img {
        width: 100%;
        height: auto;
        padding-top: 80px;
    }
    .Cwidget{
        padding-right: 35px;
    }

    @media screen and (max-width: 450px) {
        img {
            padding-bottom: 70px;
        }
        .calendly-inline-widget {
            height: 450px !important;
        }

    }
    @media screen and (min-width: 450px) and (max-width: 770px) {
        img {
            padding-bottom: 70px;
        }
    }

    @media screen and (min-width: 770px) and (max-width: 992px) {
    .container {
      width: auto;
      max-width: 750px;
    }

  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
      width: auto;
      max-width: 750px;
    }

  }
  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    .container {
      width: auto;
      max-width: 900px;
    }
  }
</style>
