---
import { Image } from "astro:assets";
import eye from "../icons/eye.svg";
---

<div class="fluid">
  <div class="container">
    <div class="project-box">
      <p class="p700-100">
        <span class="c593FBF">//</span> our projects
      </p>
      <div class="views-box">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source
            data-src="/videos/projects/jumper-optimised.mp4"
            class="lazy"
            type="video/mp4"
          />
        </video>
        <div class="text-box">
          <p class="p700-52">Jumper exchange</p>
          <div class="mr19">
            <Image class="svg-eye" src={eye} alt="views: " />
            <p class="p700-52">370,000+</p>
          </div>
        </div>
      </div>
      <div class="views-box">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source
            data-src="/videos/projects/Moonly-optimised.mp4"
            class="lazy"
            type="video/mp4"
          />
        </video>
        <div class="text-box">
          <p class="p700-52">MOONLY</p>
          <div class="mr19">
            <Image class="svg-eye" src={eye} alt="views: " />
            <p class="p700-52">170,000+</p>
          </div>
        </div>
      </div>
      <div class="views-box">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source
            data-src="/videos/projects/Magical-optimised.mp4"
            class="lazy"
            type="video/mp4"
          />
        </video>
        <div class="text-box">
          <p class="p700-52">Magical</p>
          <div class="mr19">
            <Image class="svg-eye" src={eye} alt="views: " />
            <p class="p700-52">610,000+</p>
          </div>
        </div>
      </div>

      <div class="grid-container">
        <div class="client">
          <video
            class="gif lazy"
            id="background-video"
            autoplay
            loop
            muted
            playsinline
          >
            <source
              data-src="/videos/projects/Kodezi.mp4"
              class="lazy"
              type="video/mp4"
            />
          </video>
          <p class="p700-24">Kodezi</p>
        </div>
        <div class="client">
          <video
            class="gif lazy"
            id="background-video"
            autoplay
            loop
            muted
            playsinline
            preload="none"
          >
            <source
              data-src="/videos/projects/Appstem.mp4"
              class="lazy"
              type="video/mp4"
            />
          </video>
          <p class="p700-24">appstem</p>
        </div>
        <div class="client">
          <video
            class="gif lazy"
            id="background-video"
            loop
            muted
            playsinline
            preload="none"
            autoplay
          >
            <source
              data-src="/videos/projects/Giftpack.mp4"
              class="lazy"
              type="video/mp4"
            />
          </video>
          <p class="p700-24">Giftpack</p>
        </div>
        <div class="client">
          <video
            class="gif lazy"
            id="background-video"
            loop
            muted
            playsinline
            preload="none"
            autoplay
          >
            <source
              data-src="/videos/projects/Ai-Ui.mp4"
              class="lazy"
              type="video/mp4"
            />
          </video>
          <p class="p700-24">Ai UI</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .fluid {
    width: 100%;
    background: #07141e;
    color: white;
    font-family: ActayWide, sans-serif;
    background-image: url("../img/noise.png");
  }
  .project-box {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    align-items: center;
    padding-bottom: 100px;
  }
  .views-box {
    width: 100%;
  }
  .p700-100 {
    color: #fff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .c593FBF {
    color: #593fbf;
  }
  .gif {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .p700-52 {
    color: #fff;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 30px 0 84px 0;
  }

  .text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mr19 {
    display: flex;
    gap: 19px;
    align-items: baseline;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }
  .p700-24 {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 26.4px */
    text-transform: uppercase;
    margin: 17px 0 0;
  }
  @media screen and (max-width: 450px) {
    .fluid {
      padding-top: 10px;
    }
    .p700-100 {
      font-size: 32px;
      margin: 0 0 15px;
    }
    .p700-52 {
      font-size: 14px;
      margin: 18px 0 34px 0;
    }
    .p700-24 {
      font-size: 14px;
      margin: 4px 0 4px 0;
    }
    .svg-eye {
      width: 14px;
      height: 14px;
    }
    .project-box {
      padding-top: 70px;
      padding-bottom: 0;
    }
    .grid-container {
      gap: 4px;
    }
    .gif {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 16 / 12;
    }
  }
</style>
