<div class="fluid">
  <div class="container" id="services">
    <p class="p700-120"><span class="c593FBF">//</span>services</p>
    <div class="grid-container">
      <div class="item1">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Promotions.mp4" type="video/mp4" />
        </video>
        <p class="p700-24">Videos for online promotions</p>
      </div>
      <div class="item2">
        <video
          class="gif2 lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Videotv.mp4" type="video/mp4" />
        </video>
        <p class="p700-24 mt15">Videos for TV</p>
      </div>
      <div class="item3">
        <video
          class="gif3 lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Cgi.mp4" type="video/mp4" />
        </video>
        <p class="p700-24">Video/CGI/VFX production</p>
      </div>
      <div class="item4">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Reels.mp4" class="lazy" type="video/mp4" />
        </video>
        <p class="p700-24">Reels/TikTok/<br />Shorts videos</p>
      </div>
    </div>

    <div class="plansheet-grid">
      <div class="Pitem1">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Promotions.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="Pitem2">
        <video
          class="gif2 lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Videotv.mp4" type="video/mp4" />
        </video>
        <p class="p700-24 mt15">Videos for TV</p>
      </div>
      <div class="Pitem3">
        <video
          class="gif3 lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Cgi.mp4" type="video/mp4" />
        </video>
      </div>
      <div class="Pitem4">
        <video
          class="gif lazy"
          id="background-video"
          autoplay
          loop
          muted
          playsinline
          preload="none"
        >
          <source data-src="/videos/Reels.mp4" class="lazy" type="video/mp4" />
        </video>
      </div>
      <div class="Pitem5">
        <p class="p700-24">Videos for online promotions</p>
      </div>
      <div class="Pitem6">
        <p class="p700-24">Video/CGI/VFX production</p>
      </div>
      <div class="Pitem7">
        <p class="p700-24">Reels/TikTok/<br />Shorts videos</p>
      </div>
    </div>
  </div>
</div>

<style>
  .fluid {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #07141e;
    color: white;
    font-family: ActayWide, sans-serif;
    background-image: url("../img/noise.png");
  }

  .container {
    padding: 81px 90px 82px 89px;
    background-color: #0b0b0b;
  }

  .p700-120 {
    color: #fff;

    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin: 0;
  }
  .c593FBF {
    color: #593fbf;
  }
  .p700-24 {
    color: #fff;
    font-size: 24px;
    margin: 26px 0 0;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    text-transform: uppercase;
  }
  .mt15 {
    margin-top: 15px;
  }
  .grid-container {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
  }
  .plansheet-grid {
    display: none;
  }

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
  }

  .item2 {
    grid-column: 2;
    grid-row: 1 / span 1;
  }

  .item3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .item4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
  }

  @keyframes slideIn {
    0% {
      left: -100px; /* Начальное положение за левой границей экрана */
    }
    100% {
      left: 0; /* Конечное положение справа */
    }
  }
  .gif {
    object-fit: cover;
    width: 100%;
    height: calc(100% - 100px);
    aspect-ratio: 9/16;
  }
  .gif2 {
    object-fit: cover;

    width: 100%;
    height: calc(100% - 46px);
  }
  .gif3 {
    object-fit: cover;

    width: 100%;
    height: calc(100% - 100px);
  }

  /*
           _             _   _
  __ _  __| | __ _ _ __ | |_(_)_   _____
 / _` |/ _` |/ _` | '_ \| __| \ \ / / _ \
| (_| | (_| | (_| | |_) | |_| |\ V /  __/
 \__,_|\__,_|\__,_| .__/ \__|_| \_/ \___|
                  |_|
*/

  @media screen and (max-width: 450px) {
    .fluid .container {
      margin: 0 15px 0 15px;
      padding: 52px 30px 53px 30px;
      display: flex;
      flex-direction: column;
      background: #0b0b0b;
      border-radius: 4px;
    }
    .grid-container {
      display: grid;
      grid-template-columns: none;
      grid-template-rows: none;
      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4";
      height: auto;
    }

    .item1 {
      grid-area: item1;
    }
    .item2 {
      height: auto;
      grid-area: item2;
    }
    .item3 {
      height: auto;
      grid-area: item3;
    }
    .item4 {
      height: auto;
      grid-area: item4;
    }
    .gif2 {
      object-fit: contain;
      width: 100%;
      height: auto;
    }
    .gif3 {
      object-fit: contain;
      height: auto;
      width: 100%;
      background: #0b0b0b;
    }
    .p700-120 {
      font-size: 32px;
    }
    .p700-24 {
      font-size: 20px;
    }
  }

  @media screen and (min-width: 450px) and (max-width: 768px) {
    .fluid .container {
      margin: 81px 30px 0px 30px;
      padding: 40px 35px 30px;
      display: flex;
      flex-direction: column;
      background: #0b0b0b;
      border-radius: 4px;
    }

    .grid-container {
      display: none;
    }
    .plansheet-grid {
      display: block;
      display: grid;
      margin-top: 25px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows:
        1fr 1fr 0,
        5fr;
      gap: 15px;
    }

    .Pitem1 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }

    .Pitem2 {
      grid-column: 2;
      grid-row: 1 / span 1;
    }

    .Pitem3 {
      display: flex;
      align-items: flex-end;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .Pitem4 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 2;
    }
    .Pitem5 {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    .Pitem6 {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    .Pitem7 {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
    .Pitem1,
    .Pitem2,
    .Pitem3,
    .Pitem4,
    .Pitem5,
    .Pitem6,
    .Pitem7 {
      background-color: none;
    }
    /* .Pitem5,
    .Pitem6,
    .Pitem7{
      height: 50%;
    } */
    .gif {
      height: 100%;
    }
    .mt15 {
      margin-top: 7px;
    }
    .gif2 {
      object-fit: cover;
      width: 100%;
      height: 90%;
    }
    .gif3 {
      object-fit: cover;
      width: 100%;
      height: 95%;
      background: #0b0b0b;
    }
    .p700-120 {
      font-size: 46px;
    }
    .p700-24 {
      font-size: 14px;
      margin: 0;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .container {
      width: auto;
      max-width: 750px;

      margin: 81px 30px 0px 30px;
      padding: 40px 50px 75px;
    }

    .p700-120 {
      font-size: 80px;
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
      width: auto;
      max-width: 750px;

      margin: 81px 30px 0px 30px;
      padding: 40px 80px 75px;
    }

    .p700-120 {
      font-size: 80px;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1500px) {
    .container {
      width: auto;
      max-width: 900px;
      margin-right: 70px;
      margin-left: 70px;
    }
  }
</style>
