<div class="fluid">
    <div class="container">
        <p class="p700-100"><span class="c593FBF">//</span> stages of worK</p>
        <div class="grid-container">
            <div class="item1">
                <p class="p700-64">01</p>
                <div class="flex-column">
                    <p class="p700-32">Video direction</p>
                    <p class="p400-18">
                        You will receive the analyzed presentation about your
                        product/service, the video script, suitable music, and
                        sketches
                    </p>
                </div>
            </div>
            <div class="item2">
                <p class="p700-64">02</p>
                <div class="flex-column">
                    <p class="p700-32">Basic concept development</p>
                    <p class="p400-18">
                        You will get draft versions of the video
                    </p>
                </div>
            </div>
            <div class="item3">
                <p class="p700-64">03</p>
                <div class="flex-column">
                    <p class="p700-32">Advanced video development</p>
                    <p class="p400-18">
                        You will receive a detail-oriented video version
                    </p>
                </div>
            </div>
            <div class="item4">
                <p class="p700-64">04</p>
                <div class="flex-column">
                    <p class="p700-32 w188">Video delivery</p>
                    <p class="p400-18">
                        You will receive the final video that is ready to use
                    </p>
                </div>
            </div>
            <div class="item5">
                <video
                    class="gif lazy"
                    id="background-video"
                    autoplay
                    loop
                    muted
                    playsinline
                >
                    <source data-src="/videos/Stages.mp4" type="video/mp4" />
                </video>
            </div>
        </div>

        <div class="underDiv">
            <div class="experience">
                <p class="p700-24">2 years on the market of CGI and VFX</p>
            </div>
            <div class="clients">
                <p class="p700-24">
                    Worked with more 25+ clients all around the world
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .fluid {
        width: 100%;
        background: #07141e;
        color: white;
        padding-top: 40px;
        font-family: ActayWide, sans-serif;
        background-image: url("../img/noise.png");
    }

    .fluid .container {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }
    p {
        margin: 0;
    }
    .flex-column {
        display: flex;
        gap: 13px;
        flex-direction: column;
    }
    .p700-100 {
        color: #fff;
        margin: 0;

        font-size: 100px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        text-transform: uppercase;
    }
    .p700-64 {
        color: #593fbf;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        margin-right: 18px;
    }
    .p700-32 {
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%; /* 35.2px */
        text-transform: uppercase;
    }
    .p400-18 {
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 25.2px */
    }
    .w188 {
        width: 188px;
    }
    .p700-24 {
        color: #fff;
        font-family: ActayWide, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    .c593FBF {
        color: #593fbf;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto; /* Задаем три строки с авто-высотой */
        gap: 0px;
        margin-bottom: 76px;
    }

    .item1 {
        grid-column: 1 / span 1;
        grid-row: 1;
        /* background-color: lightblue; */
        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
    }

    .item2 {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
        /* background-color: lightgreen; */
        margin-left: 48px;
    }

    .item3 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;

        /* background-color: lightcoral; */
        border-right: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
    }

    .item4 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        /* background-color: lightsalmon; */
        border-right: 1px solid #d4d4d4;
    }
    .item5 {
        grid-column: 2 / span 1;
        grid-row: 2 / span 2;

        /* background-color: rgb(44, 32, 130); */
    }
    .item1 .p700-64 {
        margin-right: 46px;
    }
    .item1,
    .item2,
    .item3,
    .item4 {
        display: flex;
        flex-direction: row;
        /* opacity: 0.3; */
        padding: 58px 88px 37px 0;
    }

    .gif {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .underDiv {
        display: flex;
        gap: 11px;
        margin-bottom: 50px;
    }
    .experience {
        border: 1px solid #fff;
        padding: 33px 99px 33px 33px;
    }
    .clients {
        /* border: 1px dashed #FFF; */
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1' ry='1' stroke='white' stroke-width='2' stroke-dasharray='10%2c 10' stroke-dashoffset='7' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 1px;
        max-width: calc(100%-41.67%);
        padding: 33px 187px 33px 33px;
    }

    /*
           _             _   _
  __ _  __| | __ _ _ __ | |_(_)_   _____
 / _` |/ _` |/ _` | '_ \| __| \ \ / / _ \
| (_| | (_| | (_| | |_) | |_| |\ V /  __/
 \__,_|\__,_|\__,_| .__/ \__|_| \_/ \___|
                  |_|
*/

    @media screen and (max-width: 450px) {
        .fluid .container {
            padding: 52px px 30px 53px 30px;
            margin: 0 15px 0 15px;
            display: flex;
            flex-direction: column;
        }
        .grid-container {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: none;
            grid-template-areas:
                "item1"
                "item2"
                "item3"
                "item4"
                "item5";
            height: auto;
            margin-bottom: 30px;
        }
        .item1,
        .item2,
        .item3 {
            border: none;
            border-bottom: 1px solid #d4d4d4;
            padding: 28px 0px 20px 0;
        }
        .item4 {
            border: none;
            padding: 28px 0px 30px 0;
        }
        .item1 {
            grid-area: item1;
        }
        .item2 {
            height: auto;
            grid-area: item2;
            margin: 0;
        }
        .item3 {
            height: auto;
            grid-area: item3;
        }
        .item4 {
            height: auto;
            grid-area: item4;
        }
        .item5 {
            height: auto;
            grid-area: item5;
        }
        .p700-100 {
            font-size: 32px;
            width: 209px;
            margin-bottom: 10px;
            margin-top: 90px;
        }
        .underDiv {
            flex-direction: column;
            gap: 5px;
        }
        .experience {
            padding: 25px 55px 25px 25px;
        }
        .clients {
            padding: 25px 28px 26px 26px;
        }
        .p700-24 {
            font-size: 14px;
        }
        .p700-64 {
            font-size: 24px;
            margin-right: 10px;
        }
        .item1 .p700-64 {
            margin-right: 15px;
        }
        .p700-32 {
            font-size: 24px;
        }
        .p400-18 {
            font-size: 14px;
        }
    }
</style>
